<div class="dialog-container">
  <h2 mat-dialog-title class="dialog_title">Choose difficulty</h2>
  <button class="btn__close-dialog" (click)="closeWithCancel()">X</button>

  <mat-dialog-content class="mat-typography mb-5">
    <mat-radio-group
      class="radio-group"
      [(ngModel)]="difficulty">

      <mat-radio-button class="radio-button"
                        *ngFor="let diff of difficulties"
                        [value]="diff"
                        [checked]="difficulty.equalTo(diff)">
        {{diff.desc}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn btn-primary btn__action" (click)="closeWithResult()">Create</button>
  </mat-dialog-actions>
</div>
