.dialog_title {
  margin-bottom: 99px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.dialog-container {
  position: relative;
}

mat-dialog-actions {
  justify-content: center;
}

mat-dialog-content {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
